.container {
  height: 420px;
  width: 330px;
  position: absolute;
  bottom: 20px;
  right: 48px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 23px;
  padding: 8px 15px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.sensorData {
  flex-shrink: 0;
}

.content {
  flex-grow: 1;
}

.console {
  flex-shrink: 0;
}