.left-sidebar {
  height: 100%;
  padding-top: 30px;

  &-wrapper {
    width: 230px;
    flex-shrink: 0;
  }

  &-menu-item {
    font-size: 14px;
    font-weight: bold;
    padding: 20px 0 20px 30px;
    color: #3c3c3c;
    cursor: pointer;
    transition: .4s;

    &:hover {
      background-color: #eef3f4;
    }

    &.active {
      color: #fff;
      background-color: #3c3c3c;
    }
  }
}

.main-logo {
  width: 160px;
  height: 66px;
  background-image: url('./images/logo.png');
  margin-bottom: 60px;
  margin-left: 20px;
  cursor: pointer;
}
