.news-page {

}

.thermometer-item {
  width: 580px;
  height: 140px;
  border: solid 1px #eef3f4;
}

.thermometer-icon {
  background-image: url('./images/01@2x.png');
  width: 50px;
  height: 50px;
  background-size: contain;
}
