.service-page {
  padding-left: 20px;
  padding-right: 20px;
}

.service-menu {
  background-color: #fbfbfb;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: flex-start;
  padding: 32px 20px;

  &-item {
    font-size: 14px;
    font-weight: bold;
    color: #7d8b8d;
    cursor: pointer;

    &:hover {
      color: #3c3c3c;
    }

    &:not(:first-child) {
      margin-left: 40px;
    }

    &.active {
      color: #3c3c3c;
      border-bottom: solid 5px #3c3c3c;
    }
  }
}

.service-lists {
  display: flex;
  margin-top: 30px;
  margin-bottom: 10px;
}

.service-list {
  &:not(:first-child) {
    margin-left: 20px;
  }
}

.service-item {
  padding: 20px 30px;
  height: 100px;
  position: relative;
  cursor: pointer;
  opacity: .8;

  &:hover {
    opacity: 1;
  }

  &-wrapper {

    &:not(:first-child) {
      margin-top: 10px;
    }
  }

  &-image {
    height: 24px;
    flex-shrink: 0;
  }

  &-title-1 {
    font-size: 20px;
    font-weight: bold;
    color: #000;
    margin-left: 6px;

    &-wrapper {
      display: flex;
      align-items: center;
    }
  }

  &-description {
    font-size: 16px;
    color: #7d8b8d;
  }

  &-link {
    height: 24px;
    width: 24px;
    background-image: url('./images/slices.png');
    position: absolute;
    right: 10px;
    top: calc(50% - 12px);
  }
}

.request-form {

  .service-field-label {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    display: block;
    margin-bottom: 20px;
  }

  textarea {
    display: block;
  }

  .add-photo-field {
    margin-top: 60px;
  }
}

.service-checkbox-label {
  font-size: 12px;
  font-weight: bold;
  color: #3c3c3c;
  margin-left: 4px;
  line-height: 1;
}

.service-checkbox-wrapper {
  display: flex;
  align-items: center;
  margin-right: 18px;

  input {
    width: 16px;
    height: 16px;
  }
}

.service-field-wrapper {
  margin-top: 50px;
}

.service-checkbox-wrappers {
  display: flex;
  align-items: center;
}

.service-form-button {
  font-size: 14px;
  font-weight: bold;
  color: #3c3c3c;
  padding: 13px 0;
  border-radius: 3px;
  border: solid 2px #3c3c3c;
  width: 100%;
  background-color: #fff;
  margin-top: 50px;
  cursor: pointer;
}

.service-notification {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  padding: 25px 30px;
  border-radius: 3px;
  background-color: #00d97d;
  margin-top: 30px;
}
