.service-item {
  padding: 20px 30px;

  &-wrapper {
    margin-left: 10px;
    margin-right: 10px;

    &:not(:first-child) {
      margin-top: 10px;
    }
  }



  &-title {
    font-size: 20px;
    font-weight: bold;
    color: #000;
  }

  &-description {
    font-size: 16px;
    color: #7d8b8d;
  }
}
