.service-lists {
  display: flex;
  margin-top: 30px;
  margin-bottom: 10px;
}

.service-item {
  padding: 20px 30px;
  height: 100px;
  position: relative;
  cursor: pointer;

  &-wrapper {
    margin-left: 10px;
    margin-right: 10px;

    &:not(:first-child) {
      margin-top: 10px;
    }
  }

  &-title {
    font-size: 20px;
    font-weight: bold;
    color: #000;
  }

  &-description {
    font-size: 16px;
    color: #7d8b8d;
  }

  &-link {
    height: 24px;
    width: 24px;
    background-image: url('./images/slices.png');
    position: absolute;
    right: 10px;
    top: calc(50% - 12px);
  }
}
