.container {
    width: 944px;
    margin-left: auto;
    margin-right: auto;
}

.header {
   background-image: url("./images/1.jpg");
   height: 50px;
}

.footer {
   background-image: url('./images/footer.png');
}
